// @Author: dotsonkellyfam
// @Date:   2022-05-16T20:09:02-04:00
// @Last modified by:   dotsonkellyfam
// @Last modified time: 2022-05-20T22:55:28-04:00
ul {
  list-style-type: none;
  text-align: left;
  margin: 0 12px;
}
