// @Author: dotsonkellyfam
// @Date:   2021-10-11T20:39:06-04:00
// @Last modified by:   dotsonkellyfam
// @Last modified time: 2022-05-11T20:29:10-04:00
table {
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.main-page {
  text-align:center;
  border-radius: 20px;
  padding: 40px 50px;
  flex: auto;
}

.header {
  font-weight: bold;
}

.hidden {
  display: none;
}
